.searchBar:focus-within {
  box-shadow: 0px 0px 3px 2px cyan;
  transition: box-shadow 250ms ease-in;
}

.searchBar {
  width: 150px;
}

.cart-count {
  position: absolute;
  right: 55%;
}

.dropdown-menu {
  top: 50px;
  z-index: 20;
  transform: translateX(-30%);
}

.blank-dropdown {
  z-index: 5;
  opacity: 0;
  position: fixed;
}

.grid-nav {
  grid-template-columns: 1fr 1fr 1fr;
}

.cart-count {
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
