.card-wrapper {
  width: 280px;
  height: 405px;
}

.card-text {
  font-family: Domine;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: white;
}

.bot-wrapper {
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.Line-home {
  width: 215px;
  height: 0.1px;
  margin: 6px 0 13.9px;
  border: solid 1px #eaeaea;
}
.shop-button {
  width: 140px;
  height: 40px;
  margin: 13.9px 38px 0 37px;
  padding: 9px 28px 9px 29px;
  background-color: #ffa15f;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: white;
}
